# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
.metadata
*.g.dart
*.freezed.dart
ios/Pods/
ios/Podfile.lock
/android/.gradle
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/build/
/ios/.symlinks/
/ios/Pods/
/ios/Podfile.lock
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/engine
/ios/Flutter/flutter_assets/
/ios/Flutter/ephemeral/
/ios/Flutter/Debug.xcconfig
/ios/Flutter/Release.xcconfig
/ios/.generated/
/linux/flutter/generated_plugin_registrant.h
/linux/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugins.cmake
/macos/flutter/generated_plugin_registrant.h
/macos/flutter/generated_plugin_registrant.m
/macos/Flutter/ephemeral/
/windows/flutter/generated_plugin_registrant.h
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugins.cmake


# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Native libraries
*.so
*.dll
